/* Tailwind CSS */
@import "tailwindcss";

/* Bootstrap Icons & FontAwesome (Iconos) */
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Custom Styles if needed */
