@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Colores Semánticos Energía */
    --color-energy-success: var(--color-emerald-500);
    --color-energy-solar: var(--color-teal-600);
    --color-energy-consumption: var(--color-emerald-600);
    --color-energy-critical: var(--color-rose-500);
    --color-energy-warning: var(--color-amber-500);
    --color-energy-surface: var(--color-slate-50);
}

@layer base {
    html, body {
        @apply bg-energy-surface text-slate-900 overflow-hidden h-full;
    }
}

